<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
        <link rel="stylesheet"  type="text/css"  href="index.css">
    </head>
    
    <body>
        
        <div id="app">
            
            <div class="ui container"> 
            

            <div class="ui radio checkbox">

                <input  type ="radio" 
                        role="button"
                        name="voltage" 
                        value="120"
                        v-model="voltage"
                        v-on:change="maximumWattage"> 
                
                <label>120 volts</label>

            </div>
            
            
            <div class="ui radio checkbox">

                <input  type ="radio" 
                        role="button"
                        name="voltage" 
                        value="240"
                        v-model="voltage"
                        v-on:change="maximumWattage">

                <label>240 volts</label>

            </div>


            <select v-model="selectedAmps"
                    v-on:change="maximumWattage()">

                <option v-for="amps in amperages">{{amps}}
                    

                </option>

            </select>

           

                
             
            <div class= "ui segment">
                <p>Enter the maximum amperage of your circuit:</p>
            </div>

            <div class= "ui segment">
                <p>The maximum safe wattage of your circuit is: {{maxWatts}} </p>
            </div>           

            <div>{{validBreaker && validBreaker.productCode}}</div>

            <table class = "ui celled table">
                
                <tr>
                    <td>PRODUCT SERIES</td>
                    <td>{{validBreaker && validBreaker.productSeries}}</td>
                </tr>

                <tr>
                    <td>AMPERAGE RATING</td>
                    <td>{{validBreaker && validBreaker.productAmps}}</td>
                <tr>

                <tr>
                    <td>MANUFACTURER CODE:</td>
                    <td>{{validBreaker && validBreaker.productCode}}</td>
                </tr>

                <tr>
                    <td>POLE CONFIGURATION:</td>
                    <td>{{validBreaker && validBreaker.productPoles}}</td>
                </tr>
               
            </table>

            


            


            <table class = "ui celled table">

                    <thead>

                        <tr>
                            <th>WIRE TYPE</th>
                            <th>MINIMUM RECOMMENDED</th>
                        </tr>
                        
                    </thead>

                    <tr>

                        <td>NM-B</td>
                        <td>{{validBreaker && validBreaker.CU_NMB_Wire}}</td>
                        
                    </tr>

                    <tr>

                            <td>UF-B</td>
                            <td>{{validBreaker && validBreaker.CU_UFB_Wire}}</td>
                            
                    </tr>

                    <tr>

                            <td>THW</td>
                            <td>{{validBreaker && validBreaker.CU_THW_Wire}}</td>
                            
                    </tr>

                    <tr>

                            <td>THWN</td>
                            <td>{{validBreaker && validBreaker.CU_THWN_Wire}}</td>
                            
                    </tr>
                   
                    <tr>

                            <td>SE</td>
                            <td>{{validBreaker && validBreaker.CU_SE_Wire}}</td>
                            
                    </tr>

                    <tr>

                            <td>USE</td>
                            <td>{{validBreaker && validBreaker.CU_USE_Wire}}</td>
                            
                    </tr>


                </table>
            
       
            </div>  <!-- END SEMANTIC-UI CONTAINER DIV -->
    
        </div>  <!-- END VUE #APP DIV -->
        
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>   
    <script src="index.js"></script>
    
    </body>
    
</html>