body {
    background-image: url("ASSETS/IMAGES/electowr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display:            flex;
    justify-content:    center;
    align-items:        center;

    height:             10vh;
    margin-bottom:      2vh;

    background-color:   rgba(0,0,0,.6);

    font-family:        Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:          3rem;
    color:              rgba(255,255,255,.6);
}


.currentField:hover {

    background-color: purple;
    
}

