<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
        <link rel="stylesheet"  type="text/css"  href="index.css">
    </head>
    
    <body>
        
        <div id="app">
            
            <div class="ui container"> 
            

            <div class="ui radio checkbox">

                <input  type ="radio" 
                        role="button"
                        name="voltage" 
                        value="120"
                        v-model="voltage"
                        v-on:change="maximumWattage"> 
                
                <label>120 volts</label>

            </div>
            
            
            <div class="ui radio checkbox">

                <input  type ="radio" 
                        role="button"
                        name="voltage" 
                        value="240"
                        v-model="voltage"
                        v-on:change="maximumWattage">

                <label>240 volts</label>

            </div>

                
             
                <div class= "ui segment">
                    <p>Enter the maximum amperage of your circuit:</p>
                </div>

                <select class=          "ui selection dropdown fluid"
                        v-model=        "amperage"  
                        v-on:change=    "maximumWattage()">
                    
                    <option value="15"> 15 </option>
                    
                    <option value="20"> 20 </option>
                    
                    <option value="25"> 25 </option>
                    
                    <option value="30"> 30 </option>
                    
                    <option value="40"> 40 </option>
                    
                    <option value="50"> 50 </option>
                    
                </select>

                
                

                <table class="ui celled table">
                        
                        <tbody>
                            
                            <tr>
                                <td>Maximum Circuit Wattage:</td>
                                <td>{{maxWatts}}</td>
                                
                            </tr>
                            
                                                        
                        </tbody>
                
                    </table>
                

            
                

                <div v-for="detail in details">
                    <p>{{detail}}</p>
                </div>
            
            
         
           
            
            </div>  <!-- END SEMANTIC-UI CONTAINER DIV -->
    
        </div>  <!-- END VUE #APP DIV -->
        
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>   
    <script src="index.js"></script>
    
    </body>
    
</html>