<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
        <link rel="stylesheet"  type="text/css"  href="index.css">
    </head>
    
    <body>
        
        <div id="app">
            
            <label>120 volts</label>
            <input type ="radio" 
                   name="voltage" 
                   value="120"
                   v-model="picked"> 
            
            <label>240 volts</label>
            <input type ="radio" 
                   name="voltage" 
                   value="240"
                   v-model="picked">
            
                        
            <select v-model="breaker"  v-on:change="productDisplay">
                
                <option value="15"> 15 </option>
                
                <option value="20"> 20 </option>
                
                <option value="25"> 25 </option>
                
                <option value="30"> 30 </option>
                
                <option value="40"> 40 </option>
                
                <option value="50"> 50 </option>
                
            </select>
            
            
            <div v-for="breaker in breakers" :key="breakers.productCode">
                
                <div v-on:mouseover="productDisplay">
                
                </div>
            
            </div>
            
           
            
        </div>
        
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>   
    <script src="index.js"></script>
    
    </body>
    
</html>